<div class="container-fluid">
    <h2>Items Pending Your Approval</h2>
    <hr>
    <div class="pending-home row">
        <%= render partial: 'pending_approval', locals: {pending_approvals: @pending_approvals} %>
    </div>
</div>