
<div class="row">
<div class="col-md-6">
<div class="jumbotron employee-blocks">
    ghjgjhgkg
</div>
</div>
<div class="col-md-6">
        <div class="jumbotron employee-blocks">
            ghjgjhgkg
        </div>
        </div>

</div>
