.pending-home {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #e3e3e3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
}

.home-block {
    background-color: #1d3c91;
    color: white;
    margin: 12px 42px 12px 42px;
    padding: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pending-details {
    font-weight: 900;
}

.home-block:hover {
    background-color: #172b63;
}